.html{
    scroll-behavior: smooth;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.mobile__menu{
    display: flex;
    position: fixed;
    height: 100%;
    width: 0%;
    right: 0;
    top: 0; 
    background-color: black;
    z-index: 3;
    transition: 1s;
}

.mobile__menu-hidden{
    width: 80%;
}
#brg {
    display: none;
    right: 9%;
    top: 30px;
    width: 50px;
    height: 50px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 6;
}
#brg span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#brg span:nth-child(1) {
    top: 0px;
}
#brg span:nth-child(2) {
    top: 18px;
}
#brg span:nth-child(3) {
    top: 36px;
}
#brg.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#brg.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#brg.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.header {
    position: ;
    width: 100%;
    left: 0;
    top: 0;
    z-index: ;
    background-color: white;
}
._container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__container {
    display: flex;
    min-height: 130px;
    align-items: center;
}
.logo__item {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;    
}
.logo__item-2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}
.header__menu {
    margin: 0px 0px 0px auto;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0px 0px 0px 35px;
}
.menu__link {
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    line-height: calc(35 / 15 *100%);
}
.block__container-our-pets {
    background-color: #f5f5f5;
    padding: 80px 0 100px;
    display: flex;
    justify-content: center;
}
.container__title-text {
    font-weight: 400;
    font-size: 35px; 
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 0.06em;
    color: #545454;
}
.container-our-pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.slider__slider-cards {
    max-width: 990px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 20px;
    margin: 0 15px;
}
.slider-cards__slider-card {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 30px;
    transition: 0.3s ease-in;
}
.slider-cards__slider-card:hover{
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider-cards__slider-card:hover img{
    background-color: #F6F6F6;
}
.slider-cards__slider-card:hover button{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.button {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    margin: 0 auto;
}
.h3-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
}
.container-our-pets__buttons {
    width: 340px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pagination-container__button-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    background-color: #F6F6F6;
}
.prev:hover {
    background-color: #F1CDB3;
}
.next:hover {
    background-color: #F1CDB3;
}
.pagination-container__page {
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
    line-height: 50px;
    text-align: center;
}
.footer {
    background-image: url("/shelter/assets/main/footer-gradient-background.png");
    padding-top: 30px;
}
.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container__footer-text-block {
    padding-top: 0;
    margin-bottom: 64px;
    display: flex;
}
.contacts__title {
    width: 278px;
    height: 90px;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 43px;
}
.location__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.contacts-link {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: .06em;
    text-decoration: none;
    color: #f1cdb3;
}
.location-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: .06em;
    text-decoration: none;
    color: #f1cdb3;
}
.contacts__link {
    margin-bottom: 43px;
}
.location__link {
    margin-bottom: 33px;
}
.contacts-icon {
    margin-right: 20px;
}
.location-icon {
    margin-right: 18px;
}
.footer__img {
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 40px;
}

@media(max-width: 768px){
    ._container {
        margin: 0 auto;
        padding: 0 20px;
    }
    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: ;
        background-color: white;
    }
    .header__container {
        display: flex;
        min-height: 130px;
        align-items: center;
    }
    .header__menu {
        margin: 0px 0px 0px auto;
    }
    .menu__list {
        display: flex;
    }
    .menu__item {
        margin: 0px 0px 0px 35px;
    }
    .menu__link {
        color: black;
        line-height: calc(35 / 15 *100%);
    }
    .block__container-our-pets {
        background-color: #f5f5f5;
        padding: 200px 0 100px;
        display: flex;
        justify-content: center;
    }
    .container-our-pets__title-text {
        font-weight: 400;
        font-size: 35px; 
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }
    .slider__slider-cards {
        max-width: 580px;
        grid-template-columns: repeat(2, auto);
    }
    .slider-cards__slider-card:hover{
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    .slider-cards__slider-card:hover img{
        background-color: #F6F6F6;
    }
    .slider-cards__slider-card:hover button{
        background-color: #FDDCC4;
        border: 2px solid #FDDCC4;
    }
    .footer {
        background-image: url("/vladzhmyshenko-JSFE2022Q1/shelter/assets/main/footer-gradient-background.png");
    }
    .footer__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container__footer-text-block {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
    }
    .footer__img {
        margin-top: 65px;
        margin-left: 234px;
        margin-right:234px ;
    }
}